body {
    font-family: sans-serif;
    margin: 0 auto;
    max-width: 50vh;
    min-height: 100vh;
    padding: 20px;
    text-align: center;
}

.projects-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project-card {
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: inline-block;
    padding: 20px;
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.05);
    }
}

a {
    color: #a32c4d;
    font-weight: bold;
    text-decoration: none;

    &:hover {
        color: #840527;
    }
}
